@import url('https://fonts.googleapis.com/css?family=Cinzel');

/* *{
    border: 1px solid red !important
} */

html, body, .root {
  height: 100%;
}

body, .app {
  background-color: #9E9E9E;
  background-image: url("./images/grunge-wall.png");
}

/* shelf page */

.bookshelf-title {
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 32px;
  font-family: 'Cinzel', serif;
  text-align: center;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  color: #8f6f17;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5);
  border: 5px solid #8f6f17;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.81);
  background: linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 13%, rgba(251,223,147,1) 27%, rgba(248,181,0,1) 59%, rgba(251,223,147,1) 81%, rgba(248,181,0,1) 100%);
}

.bookshelf-title-encapsule{
  display: flex;
}

.bookshelf-title-encapsule-move{
  display: flex;
  cursor: copy;
}

.bookshelf-books {
  text-align: center;
}

/* shelf */

.shelves{
  display: block;
  -webkit-padding-end: 0px;
  -webkit-padding-start: 0px;
}

.bookshelf-encapsule{
  overflow-y: auto;
  padding: 10px;
  display: grid;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 0px;
  margin-left: 0px;
}


.bookshelf-encapsule-drag {
  overflow-y: auto;
  padding: 10px;
  display: grid;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 0px;
  margin-left: 0px;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.5) 35%, rgba(255,255,255,0.39) 50%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 70%);
}



.bookshelf-grid{
  margin-right: 50px;
  margin-left: 50px;
  height: auto;
  min-height: 250px;
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
}

.shelf{
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

.shelf-top{
  background-color: #795548;
  background-image: url("./images/retina-wood.png");
  width:97%;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  z-index: -2;
  -webkit-transform: perspective(350px) rotateX(30deg) translateY(2px);
}

.shelf-front {
  margin-bottom: 25px;
  position: relative;
  bottom: 10;
  height: 15px;
  background-color: #3E2723;
  background-image: url("./images/retina-wood.png");
  background-blend-mode: hard-light;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  box-shadow: 0px 8px 20px 4px rgba(0,0,0,0.9);
}

.list-books-title {
  z-index: 10;
  position: fixed;
  width: 100%;
  margin-top: 0px;
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}

.title-margin{
    height: 58px;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

.bookshelf-on-drag {
  background: black;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-books {
  text-align: center;
}

.bookshelf-on-drag {
  text-align: center;
  background: black;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 5;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 1;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.books-search-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-list-search {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-book-select{
  width: 100px;
  padding-right: 30px;
  font-family: 'Cinzel', serif;
  font-size: 12px;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  overflow: auto;
  height: 313px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.book-list {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  position: relative;
  bottom: -25px;
  z-index: 1;
  height: 100%;
}

.book {
  width: 140px;
  display: inline-block;
  align-self: flex-end;
}

.book-title {
  font-weight: bolder;
  font-size: 15px;
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-top: 10px;
}
.book-authors {
  text-align: center;
  font-family: 'Cinzel', serif;
  margin-bottom: 12px;
  font-size: 12px;
}

/* book cover */

.book-cover {
  box-shadow: 6px -4px 11px 5px rgba(0,0,0,0.9);
  background: #eee;
  background-repeat: space;
  background-size: cover;
  cursor: pointer;
}

.book-selected {
  box-shadow: 6px -4px 11px 5px rgba(0,0,0,0.9);
  background: #eee;
  background-repeat: space;
  background-size: cover;
  cursor: pointer;
  background-blend-mode:hard-light;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* book details */

.book-details{
  margin: 20px;
}

.book-details-info{
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.book-data-name{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.book-data{
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
}

.book-info{
  min-width: 300px;
  border: 2px solid #9E9E9E;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.81);
  padding: 10px;
}

.info{
  font-family: 'Cinzel', serif;
  font-size: 12px;
}

.info-pages{
  display: flex;
  justify-content: space-around;
}


.book-details-title {
  font-weight: bolder;
  font-size: 45px;
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.book-details-authors {
  font-size: 22px;
  text-align: center;
  font-family: 'Cinzel', serif;
  margin-bottom: 12px;
}

.details-buttons{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.details-add-button{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.details-delete-button{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e60000;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.details-update-button{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* book cover */

.book-details-cover {
  margin-right: 30px;
  background-size: cover;
  box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.81);
}

.details-return a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/arrow-back-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  position: fixed;
  left:25px;
  bottom: 25px;
}

.details-add-book {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  position: fixed;
  right:25px;
  bottom: 25px;
}

.details-delete-book {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e60000;
  background-image: url('./icons/delete.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  position: fixed;
  right:25px;
  bottom: 25px;
}

.book-shelf-info {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/info.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-search-add {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
